{% extends 'layout.html'%} {%block content%}
  <body>
    <form name="register-form" id="register-form">
      <div class="login-page-container">
        <div class="login-container">
          <div class="icon-container">
            <img
              class="fingerprint"
              src="../static/images/fingerprint.svg"
              alt=""
            />
          </div>
          <h2 class="register-heading">Register</h2>
          <div class="name-container">
            <input type="text" name="name" placeholder="Full Name" />
          </div>
          <div class="email-container">
            <input type="email" name="email" placeholder="Email" />
          </div>
          <div class="password-container">
            <input type="password" name="password" placeholder="Password" />
          </div>
          <p class="error error-hidden"></p>
          <input id="register-btn" type="submit" value="Submit" />
          <div class="register-container">
            <p>
              Not signed up yet?
              <a class="register-link" href="{{ url_for('login') }}">Log in</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
{%endblock%}
